.hobbies-page {
    background-color: antiquewhite;
    padding: 40px;
    border-radius: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies-page label:first-child{
    margin-bottom: 40px;
}

.hobby-list {
    list-style: none;
}

label {
    font-size: 30px;
    font-weight: 800;
}

.list-item {
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
}

.list-container {
    display: flex;
    flex-direction: row;
}