.invalid {
    border-color: red;
}

.error {
    font-size: 12px;
    font-family: sans-serif;
    color: #ef4444;
}

.input {
    background-color: #bae6fd;
    border: none;
    border-radius: 100px;
}